.about {
  background-color: transparent;
  background-image: url("img/separator.png");
  background-position: top left;
  background-repeat: repeat;
  border: none;
  font-family: $font-input;
  font-size: 30px;
  line-height: 60px;
  margin-top: 20px;
  overflow: hidden;
  resize: none;
  width: 100%;
}
