.checkboxes {
  color: $color-text-default;
  display: flex;
  flex-flow: column wrap;
  font-size: 21px;
  font-weight: 700;
  height: 250px;
  line-height: 25px;
  list-style: none;
  margin: 0;
  margin-top: 25px;
  padding: 0;
  width: 795px;
}

.checkboxes__item {
  margin-bottom: 10px;
  max-width: 230px;

  &:last-of-type {
    margin-bottom: 0;
  }
}

.checkboxes__label {
  cursor: pointer;
  display: block;
  margin-left: 27px;
  position: relative;

  &::before {
    background-image: url("img/checkbox-off.png");
    background-position: bottom left;
    background-repeat: no-repeat;
    content: "";
    display: block;
    height: 28px;
    left: -27px;
    position: absolute;
    top: -5px;
    width: 24px;
  }
}

.checkboxes__input:checked + .checkboxes__label::before {
  background-image: url("img/checkbox-on.png");
}
