.header__wrap {
  display: flex;
  justify-content: space-between;
}

.header__stamp {
  margin-top: -15px;
  transform: translateX(60px);
}

.header__file {
  display: block;
  margin-left: auto;
  margin-right: auto;
  transform: translateX(-20px);
}
