.input {
  border: none;
  display: block;
  font-family: $font-input;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-bottom: 12px;
  padding-left: 12px;
  position: relative;

  &::after {
    background-image: url("img/separator.png");
    bottom: 0;
    content: "";
    height: 9px;
    left: 0;
    position: absolute;
    width: 100%;
  }

  &--footer {
    width: 206px;
  }
}
