$color-text-accent: #2f1b15;
$color-text-default: #000000;
$color-text-note: #3d3d3d;
$color-bg-main: #e6c592;
$color-bg-empty: #797979;
$font-default: "PT Sans", sans-serif;
$font-input: "Courier New", "Courier", serif;
