.text-field {
  color: $color-text-label;
  font-size: 22.43px;
  font-weight: 700;
  line-height: 49.83px;
  margin: 0;
  display: flex;
  align-items: flex-start;
}

.text-field__input {
  border: none;
  display: block;
  font-family: $font-input;
  font-size: 30px;
  line-height: 36px;
  margin: 0;
  padding-left: 12px;
  background-image: url("img/separator.png");
  background-repeat: repeat-x;
  background-position: bottom left;
  background-color: transparent;
  margin-left: 18px;

  &--footer {
    width: 206px;
  }
}

