.text__heading {
  color: $color-text-default;
  font-size: 24px;
  line-height: 49.83px;
  margin: 0;
}

.text__note {
  color: $color-text-note;
  font-size: 15px;
  line-height: 23px;
  margin: 0;
}
