table.checkboxes
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="BEM-OOCSS" checked)
      label.checkboxes__label(for="BEM-OOCSS") БЭМ/OOCSS
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Gulp-GRUNT")
      label.checkboxes__label(for="Gulp-GRUNT") Gulp/GRUNT
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="git")
      label.checkboxes__label(for="git") Использую Git
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Pug-Jade" checked)
      label.checkboxes__label(for="Pug-Jade") Pug (Jade)
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Webpack")
      label.checkboxes__label(for="Webpack") Webpack
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="eyesight")
      label.checkboxes__label(for="eyesight") С глазомером всё ок
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Stylus-LESS-SASS" checked)
      label.checkboxes__label(for="Stylus-LESS-SASS") Stylus/LESS/SASS
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="WebGL")
      label.checkboxes__label(for="WebGL") Дружу с WebGL
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="blog.csssr")
      label.checkboxes__label(for="blog.csssr") Читаю blog.csssr.ru
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="SVG")
      label.checkboxes__label(for="SVG") Работаю с SVG
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="jQuery")
      label.checkboxes__label(for="jQuery") jQuery
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="lazy")
      label.checkboxes__label(for="lazy") Я ленивый(-ая)
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="semantic")
      label.checkboxes__label(for="semantic") Верстаю семантично
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Angular")
      label.checkboxes__label(for="Angular") Знаю/изучаю Angular
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="English")
      label.checkboxes__label(for="English") У меня хороший английский
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="A11Y")
      label.checkboxes__label(for="A11Y") Accessibility (A11Y)
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="React")
      label.checkboxes__label(for="React") Знаю/изучаю React
    td
  tr
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Vanilla")
      label.checkboxes__label(for="Vanilla") ES2015/ES2016
    td
      input.checkboxes__input.visually-hidden(type="checkbox" id="Node")
      label.checkboxes__label(for="Node") Знаю/изучаю Node.js
    td
