header.header
  picture
    source(srcset="img/logo.webp" type="image/webp")
    img.header__logo(src="img/logo.png" alt="Логотип CSSSR")
  picture
    source(srcset="img/stamp.webp" type="image/webp")
    img.header__stamp(src="img/stamp.png" alt="Штамп Секретно, заполненно собственноручно")
  picture
    source(srcset="img/delo.webp" type="image/webp")
    img.header__file(src="img/delo.png" alt="Дело")
