section.main__javascript
  h2.text__heading Уровень владения JavaScript
  div.slider
    div.slider__scale
      div.slider__pin
    div.slider__text-wrap
      p.slider__text Не владею
      p.slider__text Использую готовые решения
      p.slider__text Использую готовые решения и умею их переделывать
      p.slider__text Пишу сложный JS с нуля
