section
  label.text-field Полное ФИО
    input.text-field__input(value="Иванов Иван Иванович")
  label.text-field Год рождения
    input.text-field__input(value="1990")
  label.text-field Место жительства
    input.text-field__input(value="г. Иваново, Россия")
  label.text-field Скайп
    input.text-field__input(value="ivanov")
  label.text-field Почта
    input.text-field__input(value="ivanov@gmail.com")

section
  h2 Расскажите о себе чекбоксами
  p Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.

  include checkboxes
