section
  h2.visually-hidden Контактные данные
  label.text-field Полное ФИО
    input.text-field__input(value="Иванов Иван Иванович")
  label.text-field Год рождения
    input.text-field__input(value="1990")
  label.text-field Место жительства
    input.text-field__input(value="г. Иваново, Россия")
  label.text-field Скайп
    input.text-field__input(value="ivanov")
  label.text-field Почта
    input.text-field__input(value="ivanov@gmail.com")

section
  h2.text__heading Расскажите о себе чекбоксами
  p.text__note Отметьте чекбоксами пункты, которые соответствуют вашим скиллам. Кстати, отсутствие опыта не означает, что у вас меньше шансов стать одним из наших товарищей. Это означает, что вы будете получать те задачи, с которыми гарантировано будете справляться.
  include checkboxes

section
  h2.text__heading Уровень владения JavaScript

section
  h2.text__heading Расскажите о себе словами
  p.text__note Напишите пару предложений, чем вас привлекла наша вакансия и чего вы ожидаете от работы в CSSSR. Кстати, будет здорово, если при нехватке места для текста строки будут добавляться автоматически.
  include about

section
  h2.text__heading Какие у вас планы на будущее?
  p.text__note Этот ответ ни на что не повлияет. Не беда, если в будущем ваши планы поменяются.
