section.main__personal
  h2.visually-hidden Контактные данные
  label.text-field Полное ФИО
    input.text-field__input(value="Леванов Григорий Сергеевич")
  label.text-field Год рождения
    input.text-field__input(value="1987")
  label.text-field Место жительства
    input.text-field__input(value="г. Москва, Россия")
  label.text-field Скайп
    input.text-field__input(value="glevanov")
  label.text-field Почта
    input.text-field__input(value="glevanov@gmail.com")
