doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Анкета - Григорий
    link(rel="stylesheet" type="text/css" href="style.css")
  body.page
    main.content
      picture
        source(srcset="img/logo.webp" type="image/webp")
        img.logo(src="img/logo.png" alt="Логотип CSSSR")
      picture
        source(srcset="img/stamp.webp" type="image/webp")
        img.stamp(src="img/stamp.png" alt="Штамп Секретно, заполненно собственноручно")
      h1.visually-hidden Дело
