doctype html
html(lang="ru")
  head
    meta(charset="utf-8")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    title Анкета - Григорий
    link(rel="stylesheet" type="text/css" href="style.css")
  body.page
    h1.visually-hidden Дело
    div.content
      include pug/header
      include pug/main
      include pug/footer
  script(type="text/javascript" src="index.js" async)
